.swiper-button-next {
    margin-right: 20px;
    background-image: url('../../public/Next.svg');
    
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-next::after {
display: none;
}

.swiper-button-prev {
    margin-left: 20px;
    background-image: url('../../public/Previous.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.swiper-button-prev::after {
display: none;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active  {
    background-color: #FFBA08;
}

span.swiper-pagination-bullet {
    background-color: #999999;
    opacity: 100%;
}


